body {
    background-color: rgb(13, 17, 23);
} 
  
#heatmap {
    display: grid;
    grid-template-columns: repeat(53, 12px);
    gap: 3px;
}

.cell {
    width: 10px;
    height: 10px;
    border-radius: 2px;
}

#totalDays {
    font-size: 16px;
    color: rgb(255, 246, 246);
    text-align: left;
    padding-bottom: 4px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

#warning {
    font-size: 16px;
    color: rgb(255, 246, 246);
    text-align: left;
    padding-bottom: 4px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}